/* * {
    border: 1px dotted black;
} */

body {
    background-image: url(../images/pink-dust.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(143, 140, 140);
    overflow: auto;
}

h2 {
    font-family:'Georgia', Times, 'Times New Roman', serif;
}

.headContain {
    width: 960px;
    margin: 0px auto;
}

.links {
    text-align: right;
    padding: 20px 10px;
}

a {
    color: #777;
    padding: 5px;
    border-right: 1px solid rgb(143, 140, 140);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #777;
}

.contactLink {
    border: none;
}

.nameHeading {
    float: left;
    margin: 0px;
    padding: 20px;
    color: whitesmoke;
    background-color: #4aaaa5;
}

.heading {
    margin: 0px 20px;
    padding: 20px 20px 20px 0px;
    border-bottom: 2px solid rgb(143, 140, 140);
    color: #4aaaa5;
}

.mainContain {
    clear: both;
    margin: 30px auto 0px auto;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: whitesmoke;
    overflow: auto;
}


/* BEGIN--Styles specific to Portfolio */
.portHeading {
    margin: 0px 0px 0px 20px;
    padding: 20px 20px 20px 0px;
    border-bottom: 2px solid rgb(143, 140, 140);
    color: #4aaaa5;
}

.portContainer {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 20px;
    text-align: center;
    color: white;
}

.portText {
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    background-color: #4aaaa5;
    bottom: 30px;
}
/* END--Styles specific to Portfolio */

form{
    padding: 0px 20px;
    margin: 10px;
    border: none;
    color: #777;
}

p {
    line-height: 2em;
    color: #777;
    margin: 20px;
}

img {
    float: left;
    padding: 20px;
}

.portImg {
    padding: 0px;
    height: 100%;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
}

button {
    background-color: #4aaaa5;
    padding: 5px 20px;
    margin: 10px 0px;
    color: whitesmoke;
}

footer {
    clear: both;
    font-size: 10px;
    background-color: #777;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    margin-top: 40px;
    padding: 20px 10px 0px 10px;
    height: 20px;
}

